* {
    box-sizing: border-box;
}

:root {
    /*Colors lletres primaris*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /*Colors background degrats*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    /*Color background cercle*/
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /*Colors neutrals*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
/*Fuente personalizada*/
@font-face {
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/static/HankenGrotesk-VariableFont_wght.ttf") format("wght");
}

body{
    font-size: 18px;   
    font-family: "Hanken Grotesk";
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card__result{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Light-royal-blue);
    border-radius: 25px;
    color:var(--Pale-blue);
    background:linear-gradient(160deg, var(--Light-slate-blue), var(--Light-royal-blue)) ;

}
.card_summary-title{
    color: var(--Dark-gray-blue) ;
}

.card_summary-reaction{
    background-color:hsla(0, 100%, 67%, 0.3);
    color:var(--Light-red);
    
    
}

.card_summary-memory{
    background-color: hsla(39, 100%, 56%, 0.3 );
    color: var(--Orangey-yellow);
}

.card_summary-verbal{
    background-color:hsla(166, 100%, 37%, 0.3);
    color:var(--Verbal );
}

.card_summary-visual{
    background-color: hsla(234, 85%, 45%, 0.3);
    color:var(--Cobalt-blue);
}
.card__result-cercle{
    border-radius: 50%;
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);


}
/*Fuente personalizada*/
@font-face {
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("font/ttf");
}

@font-face {
    font-family: "Bold";
    font-style: bold;
    font-weight: 700;
    src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf") format("font/ttf");
}

@font-face {
    font-family: "Extra Bold";
    font-style: bold;
    font-weight: 800;
    src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("font/ttf");
}

@font-face {
    font-family: "Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf") format("font/ttf");
}
.card_summary{

    
    
}
.button{
    background-color:var(--Dark-gray-blue);
    color:var(--Pale-blue);
    border-radius: 10px;
    border:none;
}
